[submodule "source/berkeley_humanoid_lite_assets"]
	path = source/berkeley_humanoid_lite_assets
	url = git@github.com:vapors/Berkeley-Humanoid-Lite-Assets.git
	branch = vapors

[submodule "source/berkeley_humanoid_lite_lowlevel"]
	path = source/berkeley_humanoid_lite_lowlevel
	url = git@github.com:vapors/Berkeley-Humanoid-Lite-Lowlevel.git
	branch = vapors
